.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(70, 62, 68);
    color: rgb(43, 43, 43);
}

html{
    margin: 0;
    overflow-x: hidden;
    background-color: white;
    color:rgb(146, 71, 71);
}
body{
    margin: 0px;
    background-color: white;
    height: auto;
    width: auto;
}

.bigbox{
    padding: 2%;
    margin: 1%;
    width: 100%;
    max-width: 1000px;
}

#workspace1{
    background-color: rgb(14, 7, 7);
    color: white;
    padding: 2%;
    margin: 1%;
    border-radius: 4px;
}

.Space{
    background-color: rgb(43, 42, 42);
    color: white;
    padding: 20px;
    margin: 1%;
    border-radius: 4px;
    align-items: center;
   
}
 .btn:focus{
    outline: none;
    box-shadow: none;
  
}
.page-btns{
    display: flex;
   width: 100%;
    overflow-x: auto;
}

.link{
    color: white;
}

code{
    font-family:'Courier New';
    padding: 2px;
    color: rgb(109, 109, 109);
}
 
.line{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.line:before, .line:after {
    content:"  ";
    flex : 1 1;
    border-bottom: 1px solid #797979;
    margin: auto;
}

.line span{
    padding: 3px;
    margin: 3px;
}

table,thead, tbody, tr, th, td{
    border: none;
}
tr{
    background-color:rgb(99, 99, 99);
    color:rgb(228, 227, 227)
}
tr:nth-child(odd){
    background-color:white;
    color:rgb(43, 42, 42)
}

button{
    margin: 1%
}
.d-flex{
    align-items: center;
    
    justify-content: center
}

footer{
    background-color: rgb(43, 42, 42);
    width: 100%;
    color: grey;
    padding: 10px;

}
footer h6{
    color: white;
}